html, body
{
  height: 100%;

  text-align:center; 

}
#map-id {
  width: 500px;
  height:500px;
  align: center;
  display: block;

}



#map-holder{
    height: 100%;
}

.fill
{
    min-height: 100%;
    height: 100%;
    width: 100%;
    max-width: 100%;
}

.container{
    padding: 0.2em;
}
